<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>СКФУ</h4>
                <ul>
                    <li><a href="#">ЧаВо</a></li>
                    <li><a href="#">Наши услуги</a></li>
                    <li><a href="#">Политика</a></li>
                    <li><a href="#">Чтото</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Помощь</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Заявка</a></li>
                    <li><a href="#">Оплата</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Регистрация</h4>
                <ul>
                    <li><a href="#">Поступающим</a></li>
                    <li><a href="#">Правила</a></li>
                    <li><a href="#">Абитуриентам</a></li>
                    <li><a href="#">Инструкция</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Социальные сети</h4>
                <ul>
                    <li><a href="#">Инстаграм</a></li>
                    <li><a href="#">Твиттер</a></li>
                    <li><a href="#">Фейсбук</a></li>
                    <li><a href="#">ВК</a></li>
                </ul>
            </div>
            
            <!--
                <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            -->   
        </div>
    </div>
</footer>